<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Audio</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Upload Audio File</h1>
  <form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="audioFile" name="audioFile" accept=".mp3, .wav">
    <button type="submit">Upload</button>
  </form>

  <div id="solfaNotation"></div>
  <div id="songKey"></div>

  <script src="/js/scripts.js"></script>
</body>
</html>
